<hr>
<div class="project-reward">
  <span>
    <p>Title: <%= reward.title %></p>
    <p>Amount: <%= reward.amount %></p>
    <p>Quantity: <%= reward.quantity %></p>
  </span>
  <p>Description: <%= reward.description %></p>
</div>