
  <div>
  	<div>
  <%=image_tag("#{project.picture_url}") %>
  	</div>
  <p><%= project.funding_goal %></p>
  <p><%= @project.days_left_message %></p>
  <p><%= link_to project.title, project_path(project) %><p>
  </div>
