<h1>Crowdfunder Projects</h1>

<hr>

<h2>Explore an innovative creative universe</h2>
<p>15 diverse catagories. Thousands of amazing projects.</p>

<div class="discover-categories">
   <% @categories.each do |i| %>
    <span><%= "#{i}" %></span>
   	<button><%= link_to i, projects_path %></button>
  <% end %>
</div>

<hr>

<h2>Project List</h2>

<div id="projects">
  <%= render @projects %>
</div>

