
<%= form_tag user_sessions_path, method: :post do %>

<section id="registration" class="container">
        <form class="center" role="form">
            <fieldset class="registration-form">
                <div class="form-group">
                    <%= text_field_tag :email, nil, id: "firstname", class: "form-control",placeholder: "Email" %>
                </div>

                <div class="form-group">
                    <%= password_field_tag :password, nil, id: "password", class: "form-control", placeholder: "Password" %>
                </div>

                <div class="form-group">
                    <%= submit_tag "Login", class: "btn btn-success btn-md btn-block" %>
                </div>
            </fieldset>
        </form>
    </section>

<% end %>